{% extends "base.html" %} {% block title %} Services {%endblock title %} 
{% block body %}
<h1>Services</h1>
<p>
  Welcome to Ice Cream Corner, your go-to place for delicious ice creams and
  softies! We offer a wide range of flavors and treats to satisfy your sweet
  tooth. Whether you're looking for a classic ice cream cone, a creamy softy, or
  a family pack for sharing, we have something for everyone. Our mission is to
  bring joy and happiness with every scoop. Thank you for choosing us!
</p>
{% endblock body %}
